# Only for Docker Deployment

BOT_TOKEN=6069038778:AAEQc0Rv-ClYxnl-TjFdzTKkXGi6KT92vdc # Get it from @botfather

API_ID=28346419

API_HASH=a24507404ab03c34ef4765687c047bcf

SESSION_STRING=BQGwiDMAcke32GhQvmY7r83eNCo6543kCOzZ2ZauMwGFHAXiGW5s361mGSQcVewCr13hMVaoafYhKCOgSkjeq9I7qSt_w2HOh-xG8WDGkWV69Kc7Jzd2qjqqZWKJzpDTuvHklulisYxTWljwyAH-yjOnO8Fohtgvf4uh-ZBhIv2ZLY3y6u9xs-pX2IsvXcB6bmHqpO7gcSrXNXK-Yn8m8WA7qaluYaqY3u8-YCHwP8DEjOQ_PLTd_cV7wTxtUnja-16TQ4NZMss8FhrvIt2BwfHz8H-5xw7fO-C_bJ4OTCPWs6GPOsbpmNxoKmxXjN17Posedd7CXSL75E5JOgJHjm5ixth5AAAAAAF7-kFUAA # Check Readme to generate sessions

USERBOT_PREFIX=.

SUDO_USERS_ID=6145782184, 5838967403 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1001988956511

GBAN_LOG_GROUP_ID=-1001988956511

FMUTE_LOG_GROUP_ID=-1001988956511

MESSAGE_DUMP_CHAT=-1001988956511

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://nguhanh69:nguhanh69@nguhanh69.uz300nq.mongodb.net/?retryWrites=true&w=majority

ARQ_API_URL=https://arq.hamker.in # Leave it like this

ARQ_API_KEY=ZTGFTF-WOMEHD-QQIWVN-KRSBUB-ARQ # Get it from @ARQRobot

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

PM_PERMIT=0 # fill 0 to disable it
