# Only for Docker Deployment
BOT_TOKEN=6925627532:AAFxz1yfnl2rqYjH3RIoPv3W7ndjGiSHel4 # Get it from @botfather
API_ID=27726327
API_HASH=0def5b45200a32befb280bfa1e14dc19
SESSION_STRING=BQGnEfcAxgjC_FDAOevle3yVAzby99qy_A6xb7uWK2i9M12WLvi9ukDYMMBfYgpc8KDybPV7viQ0dPb0xs2Ji7syjxQaDQXaY96E4BynK0oxPgKYvxomHxtWJG2P78gu4Ykh4j7k8BCh_cCJF1Acwj9dSOoKGDo2hxeMUpbH-i0TyUL8AlC2Dzz5nKhqKetpVpTxfx1iD0W-pKeMgWFBNZ9ef_mC3Y9E3VJSbD3rfEHJ7ZJBTR7pBRqTkVxJ5WJW1N8F_ptdSgSqo-bPRcgHFOV1IgkuPNTn5dqwZihBBvzstEqdq0xWMoKidHLpUmJK1DCHRSaDBUrTausvH3fS8KtZGbemmwAAAAFhcv_vAA # Check Readme to generate sessions
USERBOT_PREFIX=.
SUDO_USERS_ID=6630692765, 5838967403 # Sudo users have full access to everythin, don't trust anyone
LOG_GROUP_ID=-1002082690553
GBAN_LOG_GROUP_ID=-1002082690553
FMUTE_LOG_GROUP_ID=-1002082690553
XAC_NHAN=-1002129518061
MESSAGE_DUMP_CHAT=-1002082690553
WELCOME_DELAY_KICK_SEC=300 # Edit if u want
MONGO_URL=mongodb+srv://nguhanh69:nguhanh69@nguhanh69.uz300nq.mongodb.net/?retryWrites=true&w=majority
ARQ_API_URL=https://arq.hamker.dev# Leave it like this
ARQ_API_KEY=IAOTGR-FWEKUG-CJKAXE-BSRIIF-ARQ # Get it from @ARQRobot
LOG_MENTIONS=0 # Make it 1 if you want to enable it
RSS_DELAY=300 # In seconds
PM_PERMIT=0 # fill 0 to disable it
